.valueOptions {
  table {
    tr {
      td {
        text-align: center;
        padding: 0 3px;
        &.feature {
          text-align: right;
          padding-right: 5px;
        }
      }
    }
  }
  .noteAboutBigEvents {
    max-width: 530px;
    margin-top: 20px;
    padding: 0 20px;
    font-size: 14px;
    b {
      margin-left: -10px;
    }
  }
}