.streamRow {
  .momentMetric {
    padding-top: 10px;
  }
  .cancelAddSpot {
    display: none;
  }

  &.audio {
    .momentMetric {
      &.metricAudio {
        .cancelAddSpot {
          display: block;
        }
      }
    }
  }
  &.photo {
    .momentMetric {
      &.metricPhoto {
        .cancelAddSpot {
          display: block;
        }
      }
    }
  }
  &.video {
    .addSpot {
      display: none;
    }
    .momentMetric {
      &.metricVideo {
        .cancelAddSpot {
          display: block;
        }
      }
    }
  }
}

.momentMetric {
  text-align: center;
  height: 85px;
  margin: 6px 0;
  cursor: pointer;
  float: left;
  &.metricAudio,
  &.metricVideo,
  &.metricPhoto {
    .mediaMetric {
      display: inline-block;
    }
    .addSpot {
      max-width: 180px;
      margin: 0 auto;
      .addSpotSmallLabel {
        display: none;
      }
    }
  }

  img {
    width: 30px;
    height: auto;
    display: block;
    float: left;
  }
  .text {
    display: block;
    padding-left: 5px;
    float: left;
    text-align: left;
    font-size: 20px;
    .metricName {
      font-size: 18px;
      margin-top: 10px;
    }
    .metricValue {
      font-weight: bold;
      font-size: 18px;
      margin-top: -8px;
    }
    .valueOutOfTotal {
      font-size: 14px;
      font-weight: bold;
      margin: -5px 0 0 0;
    }
  }
  .enableCheckbox {
    display: block;
    width: 100%;
    md-checkbox {
      margin: 0px 0 0 0;
    }
  }

  i.fa.mediaCapture {
    display: inline-block;
    padding-top: 10px;
    float: left;
    font-size: 40px;
  }
  &.metricPhoto {
    color: #34495E;
    md-checkbox[aria-checked=true] .md-checkbox-icon {
      background-color: #34495E;
    }
    .addSpot {
      background-color: #34495E;
      color: white;
    }
  }
  &.metricAudio {
    color: #F39C12;
    md-checkbox[aria-checked=true] .md-checkbox-icon {
      background-color: #F39C12;
    }
    .addSpot {
      background-color: #F39C12;
      color: white;
    }
  }
  &.metricVideo {
    color: #AF7AC5;
    md-checkbox[aria-checked=true] .md-checkbox-icon {
      background-color: #AF7AC5;
    }
    .addSpot {
      background-color: #AF7AC5;
      color: white;
    }
  }

}

@media screen and (max-width: 480px) {
  .momentMetric {
    height: 75px;

    &.metricAudio,
    &.metricVideo,
    &.metricPhoto {

      .addSpot {
        .addSpotLabel {
          display: none;
        }
        .addSpotSmallLabel {
          display: inline;
        }
      }
    }
    .text {
      .metricName, .metricValue {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 379px) {
  .momentMetric {

    i.fa.mediaCapture {
      font-size: 20px;
    }
    .text {
      .metricName {
        display: none;
      }
      .metricValue {
        padding-top: 16px;
      }
    }
  }
}

@media screen and (max-width: 275px) {
  .momentMetric {
    i.fa.mediaCapture {
      font-size: 15px;
    }
    .text {
      .metricValue {
        display: none;
      }
    }
  }
}

.streamsContainer {
  padding: 10px;
  position: relative;

  .shareableLink {
    text-align: center;
  }

  .momentMetricCreateContainer {
    text-align: center;
    &.photo {
      .metricPhotoCreate {
        display: block;
      }
    }
    &.audio {
      .metricAudioCreate {
        display: block;
      }
    }
    &.video {
      .metricVideoCreate {
        display: block;
      }
    }
    .momentMetricCreate {
      display: none;
      max-width: 400px;
      margin: 0 auto;
    }
  }

  .momentMetricFiltersContainer {
    position: absolute;
    right: 5px;
    padding-top: 15px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.6);
    .momentMetric {
      padding: 0 10px;
      md-checkbox[aria-checked=true] .md-checkbox-icon {
        background-color: yellow;
      }
      md-checkbox[aria-checked=true] .md-checkbox-icon:after {
        border-color: black;
      }
      .metricValue {
        margin-top: -4px;
      }
    }
    .fa-bullseye {
      display: inline;
    }
    .fa-eye {
      display: none;
    }
    &.allEnable {
      height: 1px;
      padding-top: 0;
      .fa-bullseye {
        display: none;
      }
      .fa-eye {
        display: inline;
      }
      .streamRow {
        height: 1px;
        min-height: 1px;
        padding-top: 1px;
        overflow: hidden;
      }
    }
    .disableFilters {
      position: absolute;
      top: -28px;
      background: white;
      padding: 0 5px;
      left: 8px;
      height: 37px;
    }
    .streamRow {
      margin-bottom: 10px;
      min-height: 55px;
      .momentMetric {
        margin: 0;
        min-height: 55px;
        height: 55px;
      }
      h3 {
        margin-top: 0px;
        background: rgba(248, 224, 230, 0.5);
        height: 45px;
        padding-top: 8px;
      }
    }
  }
  .spotItemContainer {
    img {
      width: 200px;
      height: auto;
    }
  }
}

.generalMetrics {
  .reportedGeneralMetric {
    font-size: 20px;
    label {
      display: inline-block;
      width: auto;
      text-align: right;
    }
  }
}

@media screen and (max-width: 767px) {
  .generalMetrics {
    .reportedGeneralMetric {
      label {
        width: 90px;
      }
    }
  }
}