<div class="meetingSpotPlayerContainer">
    <div class="fixedTimeRulerHeader">
        <div class="firstMeetingActivity"
             [ngClass]="{ fixedControl: meeting.currentSec > 215}">
            <div class="streamControlsContainer">
                <div class="streamControls togglePlay"
                     (click)="togglePlay()">
                    <i *ngIf="!meeting.UIStatus.isRunning()"
                       class="fa fa-play-circle"></i>
                    <i *ngIf="meeting.UIStatus.isRunning()"
                       class="fa fa-pause-circle"></i>
                </div>
            </div>
        </div>
        <span class="timeSpace">
            {{meeting.currentSecTimeFormat}}
        </span>
        <span class="timeSpacePercetage">
            {{meeting.currentSecPercentage.toFixed(0)}}%
        </span>
    </div>

    <div class="fixedTimeRulerGlobalContainer">
        <div class="fixedTimeRulerContainer">

            <div class="completeEventTimeWindow"
                 (mouseup)="timePointerOnMouseUp($event)">
                <div class="cursorPointer"
                     [ngStyle]="{ top: meeting.currentSecPercentage * 3 }">
                </div>


                <div class="timeSpot"
                     [title]="spot.spotType"
                     [ngClass]="spot.spotType"
                     [ngStyle]="{ left: spot.spotTypeUISmallOffset,
              top: spot.first_activity_secs_percentage * 3,
              height: spot.duration_percentage * 3}"
                     *ngFor="let spot of meeting.spots"></div>
            </div>

            <div class="fixedTimeRuler"
                 [ngStyle]="{
         'margin-top':  (meeting.currentSecPercentage * 3) - meeting.currentSec,
         height: meeting.meetingDetails.duration_secs}">

                <div class="lineCursor"
                     [ngStyle]="{
              top: meeting.currentSec }">

                </div>

                <div class="timeSpot"
                     [title]="spot.spotType"
                     [ngClass]="spot.spotType"
                     [ngStyle]="{ left: spot.spotTypeUIOffset,
              top: spot.first_activity_secs_relative,
              height: spot.duration_secs}"
                     *ngFor="let spot of meeting.spots"></div>

                <div class="timeSpotThreadChannel"
                     [ngClass]="getSpotTypeName(thread)"
                     [ngStyle]="{ left: getSpotTypeUIOffset(thread), width: '1px',
              top: 0,
              height: meeting.meetingDetails.duration_secs}"
                     *ngFor="let thread of spotTypeUIThreads"></div>

                <div class="timeSpotThreadMetric">
                </div>


            </div>

        </div>
    </div>

    <div class="mediaPlayer"
         [ngClass]="'currentActives'+meeting.activeSpotsIds.length">

        <div class="activeSpot"
             *ngFor="let activeSpotId of meeting.activeSpotsIds">

            <div class="activeSpotContents"
                 *ngIf="meeting.activeSpots[activeSpotId].enabled"
                 [ngSwitch]="meeting.activeSpots[activeSpotId].spotType">

                <div class="activeSpotAudio" *ngSwitchWhen="'Audios'">
                    <audio-player [spot]="meeting.activeSpots[activeSpotId]"></audio-player>
                </div>

                <div class="activeVideo" *ngSwitchWhen="'Videos'">
                    <video-player [spot]="meeting.activeSpots[activeSpotId]"></video-player>
                </div>

                <div class="activePhoto" *ngSwitchWhen="'Photos'">
                    <img [src]="meeting.activeSpots[activeSpotId].mediaURL">
                </div>

            </div>

        </div>

    </div>

    <div class="clearAll"></div>
</div>