.topNavBar {
  width: 100%;
  color: white;
  font-size: 16px;
  .topNavBarInsider {
    height: 35px;
    background-color: $hifeBack05;
    max-width: 1600px;
    margin: 0 auto;
    .navLink {
      height: 35px;
      padding-top: 5px;
      float: right;
      cursor: pointer;
      padding: 5px 10px;
      &.thisIsOn {
        background-color: $hifeBack15;
      }
      i {
        font-size: 20px;
      }
    }
  }
  .accountActionDesk {
    max-width: 1600px;
    margin: 0 auto;
    background-color: $hifeBack15;
    padding: 15px;
    color: black;
    &.thisIsOff {
      display: none;
    }
    h3 {
      margin: 0;
    }
    .profileData {
      .profileImage {
        img {
          width: 35px;
          height: auto;
          border-radius: 50%;
        }
      }
    }
  }
}
