<div class="nativeAppPromoContainer">

    <a href="https://geo.itunes.apple.com/us/app/hife/id1090587486?mt=8"
       style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;">
    </a>

    <span><i class="fa fa-android"></i> Android app... middle June!</span>

    <div class="earlyAdopterContainer">

    </div>

</div>