<a class="homeLinkOnDocs" href="/"></a>
<div class="hifeMakingPageContainer">
    <div class="makingSegment">
        <h1>The making of hife!</h1>
        <p>coming up...</p>
    </div>

    <div class="makingSegment">
        <div class="redBar"></div>
        <p>
            Thanks for your interest on hife!
        </p>
    </div>
</div>





