.streamContainer {
  width: 100%;
  height: 30px;
  background: lightgray;
  position: relative;
  overflow: hidden;
  .streamSpot {
    left: 0%;
    width: 1%;
    position: absolute;
    height: 30px;
    min-width: 5px;

    &.in {
    }
    &.out {
    }
    &.what {
      background-color: #469fcc;
    }
    &.noagree {
      background-color: #ef4d4d;
    }
    &.agree {
      background-color: #3aad73;
    }
    &.cool {
      background-color: #ffff23;
    }
    &.begin {

    }
    &.end {
    }
    &.audio {
      background-color: #F39C12;
    }
    &.video {
      background-color: #AF7AC5;
    }
    &.photo {
      background-color: #34495E;
    }

  }
}

//question: