.meetingCard {
  min-height: 170px;
  margin-bottom: 10px;
  overflow: hidden;
  .imageContainer {
    padding-left: 0;
    max-height: 170px;
    height: 170px;
    position: relative;
    .imageBox {
      position: absolute;
      display: inline-block;
      .imageOpacityBox {
        position: absolute;
        max-height: 170px;
        height: 170px;
        width: 100%;
        @include background-image(linear-gradient(left,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0.2),
                rgba(255, 255, 255, 0.6),
                rgba(255, 255, 255, 0.72),
                rgba(255, 255, 255, 0.75),
                rgba(255, 255, 255, 0.77),
                rgba(255, 255, 255, 0.80),
                rgba(255, 255, 255, 0.85),
                rgba(255, 255, 255, 0.90),
                rgba(255, 255, 255, 0.95),
                rgba(255, 255, 255, 1)));

      }
      img {
        max-height: 170px;
        height: 170px;
      }
    }
  }
  a.descriptionContainer {
    max-height: 170px;
    height: 170px;
    text-decoration: none;
    .metrics {
      .metricItem {
        display: inline-block;
        color: black;
        padding-right: 15px;
        i {
          margin-right: 5px;
        }
      }
    }
    p {
      font-size: 18px;
    }
    h3, p {
      color: black;
      &:hover {
        color: black;
      }
    }
  }
  .mapContainer {
    max-height: 170px;
    height: 170px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }

}