<div class="meetingDescriptionContainer dashboard">
    <div class="col-xs-12">
        <meeting-dashboard [meeting]="meeting"></meeting-dashboard>
    </div>
    <div class="clearAll"></div>
</div>
<div class="meetingDescriptionContainer">
    <div class="col-xs-12 col-sm-5">
        <meeting-google-map
                [meeting]="meeting">
        </meeting-google-map>
    </div>

    <div class="clearAll"></div>
</div>