<div class="socialidsContainer">
    <social-entity [network]="'facebook'"></social-entity>
    <social-entity [network]="'twitter'"></social-entity>
    <social-entity [network]="'linkedin'"></social-entity>
    <social-entity [network]="'google'"></social-entity>
    <social-entity [network]="'github'"></social-entity>
</div>