<a *ngIf="!connected()"
   class="socialIdItem"
   (click)="storeCurrentUrl()"
   [href]="signEndPointURL()">
    <i class="fa"
       [ngClass]="'fa-' + network"></i> {{network}} connect
</a>
<div class="socialEntityConnected"
     *ngIf="connected()">
    <i class="fa"
       [ngClass]="'fa-' + network">
    </i>
    <img *ngIf="image()" [src]="image()">
    connected!
</div>