<div class="topNavBar">
    <div class="topNavBarInsider"
         *ngIf="sessionService.signedProcessed">
        <div class="navLink"
             [ngClass]="{thisIsOn: signing}"
             (click)="toggleSigning()"
             *ngIf="!sessionService.signedIn">
            <span *ngIf="!signing">Login</span>
            <i *ngIf="signing" class="fa fa-close"></i>
        </div>
        <div class="navLink"
             (click)="toggleManaging()"
             *ngIf="sessionService.signedIn">
            hife Account
        </div>
        <div class="navLink"
             (click)="logout()"
             *ngIf="sessionService.signedIn">
            Logout
        </div>
    </div>

    <div class="accountActionDesk"
         [ngClass]="{thisIsOff: !signing}">
        <div class="col-sm-6 col-xs-12">
            <membership-alternative-details></membership-alternative-details>
        </div>
        <div class="col-sm-6 col-xs-12">
            <member-signin></member-signin>
        </div>

        <div class="clearAll"></div>
    </div>

    <div class="accountActionDesk row"
         [ngClass]="{thisIsOff: !managing}">
        <div class="col-xs-12 col-sm-6 profileData">
            <div>
                <span class="profileImage imageSet"
                      *ngIf="sessionService.myProfile.avatarImageURL != null">
                    <img [src]="sessionService.myProfile.avatarImageURL">
                </span>
                <span class="profileImage imageNotSet"
                      *ngIf="sessionService.myProfile.avatarImageURL == null">
                </span>
                <span>{{sessionService.myProfile.name}}</span>
            </div>
            <div>
                <label>email:</label> <span>{{sessionService.myProfile.email}}</span>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6">
            <div *ngIf="sessionService.myProfile.devices && sessionService.myProfile.devices.length > 0">
                <h3>Associated Devices</h3>
                <div class="hookedDevices"
                     *ngFor="let device of sessionService.myProfile.devices">
                    <span>{{device.name}}</span> PUBLIC
                    <button class="onView btn btn-primary"
                            (click)="togglePrivacyOn(device)">
                        POST PRIVATELY
                    </button>

                </div>
            </div>

            <div *ngIf="!sessionService.myProfile.devices || sessionService.myProfile.devices.length == 0">
                <p>No Devices have been associated with this account.</p>
            </div>

            <div>
                <span>Generate Token to hook new Device</span>
                <button class="onView btn btn-primary"
                        (click)="tokenForDevice()">
                    Get Token
                </button>
                <div>
                    {{tokenForBinding}}
                </div>
            </div>
        </div>
    </div>
</div>
