<div class="mediaPlayerContainer videoPlayerContainer">
    <vg-player (onPlayerReady)="onPlayerReady($event)">

        <!--vg-overlay-play></vg-overlay-play-->

        <vg-controls>
            <!--vg-play-pause></vg-play-pause-->
            <!--vg-playback-button></vg-playback-button-->

            <vg-time-display>{{ media?.time?.current | date:'mm:ss' }}</vg-time-display>

            <!--vg-scrub-bar>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-cue-points [cuePoints]="metadataTrack.cues"></vg-scrub-bar-cue-points>
            </vg-scrub-bar-->

            <vg-time-display>{{ media?.time?.left | date:'mm:ss' }}</vg-time-display>
            <vg-time-display>{{ media?.time?.total | date:'mm:ss' }}</vg-time-display>

            <vg-mute></vg-mute>

            <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video #media preload="auto">
            <!--source *ngFor="let video of sources" [src]="video.src" [type]="video.type"-->
            <source [src]="spot.mediaURL" type="video/mp4">

            <track src="../data/cue-points.vtt" kind="metadata" label="Cue Points" default
                   #metadataTrack
                   vgCuePoints
                   (onEnterCuePoint)="onEnterCuePoint($event)"
                   (onExitCuePoint)="onExitCuePoint($event)">
        </video>
    </vg-player>

    <div *ngIf="cuePointData.title">
        <h3><a [href]="cuePointData.href">{{ cuePointData.title }}</a></h3>
        <p>{{ cuePointData.description }}</p>
        <img [src]="cuePointData.src" width="100%" height="100%">
    </div>
</div>