.socialEntityConnected {
  padding: 3px 0;
  i {
    display: inline-block;
    width: 25px;
  }
  img {
    width: 35px;
    border-radius: 50%;
  }
}

.socialIdItem {
  display: block;
  padding: 5px 0;
  i {
    display: inline-block;
    width: 25px;
  }
}