.mediaPlayerContainer {
  vg-controls > vg-playback-button,
  vg-controls > vg-time-display {
    font-family: monospace !important;
    font-size: 17px;
    font-weight: bold;
  }
  vg-controls > vg-time-display {
    margin-left: 15px;
  }

}