<div class="row meetingCard">
    <a class="col-xs-1 imageContainer"
       [routerLink]="['/meeting', meeting.meetingDetails.guid ]">
        <div class="imageBox">
            <div class="imageOpacityBox"></div>
            <img [src]="meeting.meetingDetails.image? meeting.meetingDetails.image200URL:defaultImage">
        </div>
    </a>
    <a class="col-xs-11 descriptionContainer"
       [routerLink]="['/meeting', meeting.meetingDetails.guid ]">
        <h3>{{meeting.meetingDetails.name}}</h3>
        <div class="metrics">
            <span class="metricItem"><i class="fa fa-calendar"></i>{{meeting.formatedCurrentDate}}</span>
            <span class="metricItem"><i class="fa fa-clock-o"></i>{{meeting.formatedCurrentTime}}</span>
        </div>
        <div class="metrics">
            <span class="metricItem"><i class="fa fa-hourglass-1"></i>{{meeting.duration}}</span>
            <span class="metricItem"><i class="fa fa-volume-up"></i>{{meeting.audios}}</span>
            <span class="metricItem"><i class="fa fa-image"></i>{{meeting.photos}}</span>
            <span class="metricItem"><i class="fa fa-video-camera"></i>{{meeting.videos}}</span>
            <span class="metricItem"><i class="fa fa-map-marker"></i>{{meeting.cools}}</span>
        </div>
        <p>
            {{meeting.meetingDetails.description}}
        </p>
    </a>
</div>