<a class="homeLinkOnDocs" href="/"></a>
<div class="hifeTalentPageContainer">
    <div class="talentSegment">
        <h1>hife is looking for talent!</h1>
        <p>Hife is looking for Developer eager to contribute and design together a great solution experience. Our Stack
            is very flexible and designed to scale by autonomos components.</p>
    </div>
    <div class="talentSegment">
        <p>
            <a href="mailto:inguanzo@hife.io?Subject=I%20have%20what%20it%20takes">
                <span>Talent Hunting</span></a>
        </p>
    </div>

    <div class="talentSegment">
        <p>
            Thanks for your interest on hife!
        </p>
    </div>
</div>




