<div class="stateView successView meetingPermalink"
     [ngClass]="viewState.active()">
    <div [ngClass]="{meetingPooling: thisMeeting.pooling}">
        <div class="contentSegment">
            <div class="imageBlock">
                <img class="mainImage"
                     *ngIf="thisMeeting.meetingDetails.banner"
                     [src]="thisMeeting.meetingDetails.bannerURL">
            </div>

            <div class="row">
                <header [ngClass]="{onEditMode: viewState.edit}">
                    <div class="col-xs-12">
                        <a [routerLink]="['/']">
                            <img class="meetingInProgress"
                                 src="/app/base/asset/image/hife.gif"/>
                            <img class="meetingDone"
                                 src="/app/base/asset/image/hife_100.png"/>
                        </a>
                        <h4 (click)="startEdit()">
                            {{thisMeeting.meetingDetails.name}}
                        </h4>
                        <input #meetingTitle
                               class="editTitle"
                               [(ngModel)]="editedMeetingTitle">
                    </div>

                    <div class="col-xs-12 col-sm-10">
                        <p class="statementDescription"
                           (click)="startEdit()">{{thisMeeting.meetingDetails.description}}</p>
                <textarea #meetingDescription
                          class="editDescription"
                          [(ngModel)]="editedMeetingDescription">
                </textarea>
                    </div>

                    <div class="col-xs-12 col-sm-2">

                    </div>

                    <div class="clearAll"></div>

                    <div class="col-xs-5 col-sm-3 buttonsToEdit">
                        <button class="onView btn btn-primary"
                                (click)="startEdit()">
                            Edit
                        </button>
                        <button class="onEdit btn btn-primary"
                                (click)="saveEdit()">
                            Save
                        </button>
                        <button class="onEdit btn btn-default"
                                (click)="cancelEdit()">
                            Cancel
                        </button>

                    </div>

                    <div class="clearAll"></div>

                </header>
            </div>

            <div class="content">
                <meeting-stream [meeting]="thisMeeting">
                </meeting-stream>
            </div>
        </div>
        <div class="imagesSegment">
            <img class="mainImage"
                 *ngIf="thisMeeting.meetingDetails.image"
                 [src]="thisMeeting.meetingDetails.imageURL">

            <button class="btn btn-primary"
                    (click)="setAsMeetingImage()">
                Set as Event Image
            </button>
            <button class="btn btn-primary"
                    (click)="setAsMeetingBanner()">
                Set as Event Banner
            </button>

        </div>

        <div class="allEventImagesContainer"
             *ngFor="let spot of thisMeeting.spots">
            <div class="imageListItem"
                 *ngIf="spot && spot.isPhoto && spot.media200URL"
                 (click)="setImageView(spot)">
                <img class="imageCaptured"
                     [src]="spot.media200URL">
            </div>
        </div>


    </div>
</div>
<div class="stateView loadingView"
     [ngClass]="viewState.active()">

    <div class="progressContainer">
        <md-progress-circle mode="indeterminate"></md-progress-circle>
    </div>

</div>
<div class="stateView failView"
     [ngClass]="viewState.active()">
    <h1>This event wasn't found</h1>
    <native-app-install></native-app-install>
    <a class="backHomeLink"
       href="/"><h4><i class="fa fa-chevron-left"></i> home</h4></a>
</div>

<div class="clearAll beforFooter"></div>