<div class="streamContainer"
     *ngIf="device">
    <div class="streamSpot"
         *ngFor="let spot of device.spots"
         [ngClass]="spot.spotType"
         [ngStyle]="{ left: (spot.first_activity_secs_percentage + '%'), width: (spot.duration_percentage + '%') }">
    </div>
</div>