<div class="valueOptions">
    <p>Launch Promotion while settting up memberships!</p>
    <h3>FREE for all available functionality!</h3>
    <p>
        All hife Events are publicly accesible at this point. Privacy coming up together with membership programs.
    </p>
</div>
