<div class="dashboardSummary">

    <div *ngIf="!meeting.pooling">
        <h3 class="col-xs-12">Total Activity Count</h3>

        <div class="momentMetric col-xs-6 col-sm-3 rightSideMode"
             [ngClass]="{enable: enableAgrees}"
             (click)="toggleAgrees()">
            <img src="/app/base/asset/image/spot_type/agree_256.png">
            <div class="text">
                <div class="metricName">Agrees</div>
                <div class="metricValue">{{meeting.agrees}}</div>
            </div>
        </div>
        <div class="momentMetric col-xs-6 col-sm-3"
             [ngClass]="{enable: enableDisagrees}"
             (click)="toggleDisagrees()">
            <img src="/app/base/asset/image/spot_type/disagree_256.png">
            <div class="text">
                <div class="metricName">Disagrees</div>
                <div class="metricValue">{{meeting.disagrees}}</div>
            </div>
        </div>

        <div class="momentMetric col-xs-6 col-sm-3 rightSideMode"
             [ngClass]="{enable: enableWhats}"
             (click)="toggleWhats()">
            <img src="/app/base/asset/image/spot_type/what_256.png">
            <div class="text">
                <div class="metricName">Questions</div>
                <div class="metricValue">{{meeting.whats}}</div>
            </div>
        </div>
        <div class="momentMetric col-xs-6 col-sm-3"
             [ngClass]="{enable: enableHighlights}"
             (click)="toggleHighlights()">
            <img src="/app/base/asset/image/spot_type/highlight_300.png">
            <div class="text">
                <div class="metricName">Highlights</div>
                <div class="metricValue">{{meeting.cools}}</div>
            </div>
        </div>
    </div>

</div>