<div class="homeRoutePageContainerBackground">

    <div class="homeRoutePageContainer">
        <form (submit)="search()">
            <div class="homeSearchIconContainer">
                <i class="fa fa-search"></i>
            </div>
            <div class="homeSearchInputContainer">
                <input class="queryInput"
                       placeholder="Search for events"
                       [(ngModel)]="query">
            </div>
            <div class="btnSearch">
                <button class="btn btn-primary"
                        (click)="search()">
                    Search
                </button>
            </div>
            <div class="homeSearchOptions">

            </div>
        </form>
    </div>

    <div class="inProgressContainer"
         *ngIf="viewStatus=='progress'">
        <md-progress-circle mode="indeterminate"
                            color="warn"></md-progress-circle>
    </div>

    <div class="searchResults">
        <meeting-card class="meetingMatch"
                      [meeting]="meeting"
                      *ngFor="let meeting of results">
        </meeting-card>
    </div>

</div>