.hifeMakingPageContainer {
  width: 100%;
  .makingSegment {
    padding: 0 100px 20px 100px;
  }
  p {
    font-size: 25px;
    margin-top: 40px;
    strong {
      font-size: 40px;
      display: block;
      text-align: center;
    }
  }
}