<div class="meetingSpotVideoCreateContainer">
    <h3>Add YouTube video</h3>
    <h5>on
        <span class="dateValue">{{meeting.formatedCurrentDate}}</span> @
        <span class="timeValue">{{meeting.formatedCurrentTime}}</span>
    </h5>
    <form (submit)="postNewSpot($event)">

        <div class="form-group">
            <input [(ngModel)]="spotDetails.url" type="text" class="form-control" placeholder="Video url">
        </div>

        <button md-raised-button class="md-primary">
            Create
        </button>
    </form>
</div>