.nativeAppPromoContainer {
  font-size: 24px;
  text-align: left;
  padding-top: 20px;
  span {
    i {
      display: inline-block;
      padding: 0 10px;
      font-size: 50px;
      color: $hifeHot0
    }
  }
  .earlyAdopterContainer {
    .formTitleEarlySignup {
      width: 100%;
      max-width: 250px;
      padding-top: 15px;
      text-align: center;
      margin: 0 auto;
      font-weight: bold;
    }
    .form-group {
      position: relative;
      width: 100%;
      max-width: 350px;
      padding-top: 15px;
      text-align: center;
      margin: 0 auto;
      input {
        width: 100%;
        padding-right: 35px;
      }
      i {
        margin: 18px 3px;
      }
      button {
        width: 100%;
        font-size: 20px;
      }
    }
  }
}