<div class="globalRouterContainer">

    <top-nav-bar></top-nav-bar>

    <div class="coreAppContainer">
        <router-outlet></router-outlet>
        <footer>
            <a class="appleLink"
               href="https://geo.itunes.apple.com/us/app/hife/id1090587486?mt=8">
            </a>

            <div>
                <a [routerLink]="['/feedback']">Feedback</a> |
                <a [routerLink]="['/talent']">Talent Hunting</a> |
                <a [routerLink]="['/company']">The making of hife</a>
            </div>
            <div>
                <a [routerLink]="['/privacy-policy']">Privacy & Terms</a>
            </div>

            <div class="socialLinks">
                <a href="https://www.linkedin.com/company/hife" target="_blank">
                    <i class="fa fa-linkedin-square"></i> hife
                </a> |
                <a href="https://twitter.com/hifeio" target="_blank">
                    <i class="fa fa-twitter-square"></i> @hifeio
                </a>
            </div>
        </footer>
    </div>
</div>