<a class="homeLinkOnDocs" href="/"></a>
<div class="feedbackRoutePageContainer">
    <div class="feedbackSegment">
        <h1>Shaping hife</h1>
        <div class="redBar"></div>
        <p>We need your help to shape hife, please share your thoughts and How would you like hife
            to be shaping.
            I'll personally will attend every golden feedback.</p>
    </div>
    <div class="feedbackSegment">

        <p>
            <a href="mailto:inguanzo@hife.io?Subject=I%20would%20like%20to%20see%20this%20on%20hife.io">
                <span>Mauricio Inguanzo</span>
                <br/>
                <b>Founder</b></a>
        </p>
    </div>

    <div class="feedbackSegment">
        <p>
            Thanks for taking the time to make hife!
        </p>
    </div>
</div>




