.dashboardSummary {
  padding-bottom: 20px;
  .cell {
    font-size: 16px;
    padding: 5px 0;
    height: 85px;
    overflow: hidden;
    label {
      margin: 0 2px;
      display: block;

      text-align: center;
      padding: 4px 0 5px 0;
      font-weight: normal;
      background-color: #ffefe6;
    }
    .value {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      &.timeValue {
        font-size: 18px;
      }
      &.linkFilter {
        color: #286090;
        cursor: pointer;
      }
    }
  }



}