.timeLabel {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}
.stateView {
  opacity: 0;
  position: absolute;
  @include transition(opacity, 1s ease-out);
  &.successView.success {
    opacity: 1;
    position: static;
  }

  &.failView.fail {
    opacity: 1;
    position: static;
  }

  &.loadingView.loading {
    opacity: 1;
    position: static;
  }

  &.nilView.nil {
    opacity: 1;
    position: static;
  }
}

.collapsable {

  .collapsableLink {
    cursor: pointer;
  }
  i {
    padding: 5px;
    width: 25px;
    &.fa-chevron-down {
      display: inline-block;
    }
    &.fa-chevron-right {
      display: none;
    }
  }
  &.collapsed {
    .content {
      display: none;
    }
    i.fa-chevron-down {
      display: none;
    }
    i.fa-chevron-right {
      display: inline-block;
    }
  }
}

.redBar {
  background-color: $hifeHot0;
  width: 100%;
  height: 4px;
}

.homeLinkOnDocs {
  background: url("/app/base/asset/image/hife_100.png") 0px 20px no-repeat;
  width: 98px;
  height: 140px;
  display: block;
  position: fixed;
  margin-left: 0px;
}

.clearAll {
  clear: both;
}