input[type=text].ng-dirty.ng-valid {

}

.inputText {
  &.successFeedback {
    position: absolute;
    right: 7px;
    top: 7px;
    i {
      color: #337ab7;
      font-size: 20px;
    }
  }
  &.errorFeedback {
    position: absolute;
    right: 7px;
    top: 7px;
    i {
      color: #337ab7;
      font-size: 20px;
    }
  }
}

.select {
  &.successFeedback {
    position: absolute;
    right: 20px;
    top: 7px;
    i {
      color: #337ab7;
      font-size: 20px;
    }
  }
  &.errorFeedback {
    position: absolute;
    right: 20px;
    top: 7px;
    i {
      color: #337ab7;
      font-size: 20px;
    }
  }
}

.checkboxFieldItem {
  position: relative;
  .checkboxFeedback {
    position: absolute;
    left: -15px;
    top: 7px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    &.successFeedback {
      color: #337ab7;
    }
    &.errorFeedback {
      color: #337ab7;
    }
  }
}