.meetingSpotPlayerContainer {
  padding-bottom: 20px;
  .mediaPlayer {
    width: 100%;
    height: 300px;
    padding-left: 81px;
    overflow: hidden;
    margin-bottom: 30px;
    .activeSpot {
      max-width: 600px;
      .activeSpotContents {
        .activeSpotAudio {
          height: 1px;
          opacity: 0;
          max-height: 48px;
          overflow: hidden;
        }
        .activeVideo {
        }
        .activePhoto {
          float: left;
          height: 250px;
          overflow: hidden;
          img {
            width: 400px;
            padding-right: 15px;
            height: auto;
          }
        }
      }
    }
  }
  .fixedTimeRulerHeader {
    height: 60px;
    width: 100%;
    .timeSpace {
      display: block;
      float: left;
      width: 160px;
      font-size: 35px;
    }
    .timeSpacePercetage {
      display: block;
      float: left;
      width: 100px;
      font-size: 35px;
    }
    .firstMeetingActivity {
      width: 82px;
      height: 60px;
      text-align: center;
      cursor: pointer;
      z-index: 1;
      background: transparent;
      opacity: 0.7;
      display: block;
      float: left;
      .streamControlsContainer {
        background-color: black;
        display: inline-block;
        color: white;
        border-radius: 10px;
        .streamControls {
          float: left;
          i {
            padding: 0;
            width: auto;
          }
          &.togglePlay {
            width: 100%;
            height: 60px;
            padding: 8px 21px;
            i {
              font-size: 45px;
            }
          }
        }
      }
    }
  }
  .fixedTimeRulerGlobalContainer {
    position: absolute;
    .fixedTimeRulerContainer {
      width: 80px;
      height: 300px;
      background: transparent;
      overflow: hidden;
      position: relative;
      float: left;
      .completeEventTimeWindow {
        position: absolute;
        cursor: pointer;
        z-index: 1;
        right: 0;
        width: 20px;
        height: 300px;
        background: #FBEFEF;
        .timeSpot {
          width: 3px;
        }
        .cursorPointer {
          position: absolute;
          padding-top: 3px;
          z-index: 1;
          height: 3px;
          width: 20px;
          border: 1px solid black;
          .percetageLabel {
            font-size: 14px;
            font-weight: bold;
            width: 21px;
            margin: -9px 0 0 -22px;
          }
        }

      }
      .timeSpotThreadChannel {
        position: absolute;
        z-index: 1;
        &.Questions {
          //background-color: #469fcc;
          border-left: 1px dotted #A9D0F5;
        }
        &.Disagrees {
          //background-color: #ef4d4d;
          border-left: 1px dotted #F6CECE;
        }
        &.Agrees {
          //background-color: #3aad73;
          border-left: 1px dotted #A9F5D0;
        }
        &.Highlights {
          //background-color: #ffff23;
          border-left: 1px dotted #F2F5A9;
        }
        &.begin {

        }
        &.end {
        }
        &.Audios {
          //background-color: #F39C12;
          border-left: 1px dotted #F5D0A9;
        }
        &.Videos {
          //background-color: #AF7AC5;
          border-left: 1px dotted #CECEF6;
        }
        &.Photos {
          //background-color: #34495E;
          border-left: 1px dotted #E6E6E6;
        }
      }
      .fixedTimeRuler {
        position: relative;

        .timeSpotThreadMetric {
          position: absolute;
          left: 0;
          bottom: 0;
          top: 0;
          right: 0;
          z-index: 0;
        }
      }

      .lineCursor {
        position: absolute;
        width: 59px;
        height: 1px;
        border-bottom: 1px dotted black;
        margin-top: 2px;
      }
      .timeSpot {
        z-index: 1;
        position: absolute;
        width: 10px;
        opacity: 0.3;
        &.in {
        }
        &.out {
        }
        &.Questions {
          background-color: #469fcc;
          //background-color: #A9D0F5;
        }
        &.Disagrees {
          background-color: #ef4d4d;
          //background-color: #F6CECE;
        }
        &.Agrees {
          background-color: #3aad73;
          //background-color: #A9F5D0;
        }
        &.Highlights {
          background-color: #ffff23;
          //background-color: #F2F5A9;
        }
        &.begin {

        }
        &.end {
        }
        &.Audios {
          background-color: #F39C12;
          //background-color: #F5D0A9;
        }
        &.Videos {
          background-color: #AF7AC5;
          //background-color: #CECEF6;
        }
        &.Photos {
          background-color: #34495E;
          //background-color: #E6E6E6;
        }

      }

    }
  }
}