.meetingPermalink {
  .contentSegment {
    overflow: hidden;
  }
  .allEventImagesContainer {
    display: inline-block;
    margin: 4px;
    .imageListItem {
      cursor: pointer;
    }
  }
  .imageBlock {
    position: relative;
    img.mainImage {
      width: 100%;
      height: auto;
      position: absolute;
      @include filter(blur(10px));
      opacity: 0.5;
    }
  }

  .imagesSegment {
    img.mainImage {
      width: 100%;
    }
  }
  .meetingPooling {
    header {
      .meetingDone {
        display: none;
      }
      .meetingInProgress {
        display: block;
      }
    }
  }
  header {

    .buttonsToEdit {
      padding: 5px 20px 10px 0;
      height: 1px;
      margin-top: -45px;
      float: right;
    }
    .meetingDone {
      display: block;
      float: left;
      width: 45px;
      height: auto;
    }
    .meetingInProgress {
      display: none;
      float: left;
      width: 45px;
      height: auto;
    }
    h4 {
      font-family: monospace;
      margin-top: 0;
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 11px 0 0 7px;
      height: 32px;
      font-size: 18px;
    }
    textarea.editDescription {
      line-height: 22px;
      min-height: 120px;
    }
    input.editTitle {
      min-height: 35px;
    }
    textarea.editDescription,
    input.editTitle {
      display: none;
      width: 100%;
      max-width: 100%;
      font-family: monospace;
      margin: 5px 0 5px 5px;
      padding: 0 0 0 10px;
    }
    textarea {
      line-height: 18px;
      font-size: 16px;
    }
    input {
      line-height: 20px;
      font-size: 18px;
    }
    button {
      float: right;
      margin-right: 7px;
      &.onEdit {
        display: none;
      }
      &.onView {
        display: inline-block;
      }
    }
    p.statementDescription {
      font-family: monospace;
      font-size: 16px;
      padding-left: 55px;
    }
    &.onEditMode {
      .meetingDone,
      .meetingInProgress, h4,
      p.statementDescription {
        display: none;
      }
      textarea.editDescription,
      input.editTitle {
        display: inline-block;
      }
      button.onEdit {
        display: inline-block;
      }
      button.onView {
        display: none;
      }
    }
  }
  .collapsable {
    padding: 0;
    border: 1px solid $hifeBack05;
    margin-bottom: 15px;
    i {
      width: 30px;
      &.fa-chevron-right {
        padding-left: 10px;
      }
    }
    .collapsableLink {
      margin: 0;
      background: #ffefe6;
      border-radius: 3px;
      font-size: 20px;
      padding-top: 7px;
      height: 45px;
      font-family: monospace;
      &:hover {
        background: #ffe0cc;
      }
    }
  }
}

.clearAll.beforFooter {
  padding-bottom: 30px;
}

.stateView {
  &.loadingView,
  &.failView {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    a.backHomeLink {
      display: inline-block;
      padding-top: 25px;
      text-decoration: none;
      i {
        padding-right: 10px;
      }
    }
  }
  &.fail.successView {
    display: none;
  }
}

.progressContainer {
  width: 100%;
  height: 120px;
  text-align: center;
  md-progress-circle {
    display: inline-block;
    width: 50px;
  }
}

@media screen and (max-width: 767px) {
  .meetingPermalink {
    header {
      .buttonsToEdit {
        height: 50px;
        margin-top: 0px;
      }
    }
  }
}