<div class="streamsContainer">

    <div class="row generalMetrics">

        <div class="col-sm-4 col-xs-12 reportedGeneralMetric">
            <label>Time: </label>
            <span class="value timeValue">{{meeting.meetingDetails.formated_first_activity_date}}</span>
            <span class="value timeValue">{{meeting.meetingDetails.formated_first_activity_time}}</span>
        </div>

        <div class="col-sm-4 col-xs-12 reportedGeneralMetric">
            <label>Duration: </label>
            <span class="value">{{meeting.duration}}</span>
        </div>
        <div class="col-sm-2 col-xs-12 reportedGeneralMetric">
            <label>Hifers: </label> <span class="value">{{meeting.attendees}}</span>
        </div>
        <div class="col-sm-2 col-xs-12 reportedGeneralMetric">
            <label>Activity: </label>
            <span class="value">{{meeting.activity}}</span>
        </div>

    </div>


    <div class="streamRow row"
         [ngClass]="activeCreateSpot">

        <div class="momentMetric col-xs-4 metricPhoto  rightSideMode"
             [ngClass]="{enable: meeting.enableOnPlay.photo}">
            <div class="mediaMetric"
                 (click)="togglePhoto()">
                <i class="fa mediaCapture fa-camera"></i>

                <div class="text">
                    <div class="enableCheckbox"
                         (click)="stopPropagation($event)">
                        <md-checkbox [(checked)]="meeting.enableOnPlay.photo"></md-checkbox>
                    </div>
                    <div class="metricName">Photos</div>
                    <div class="metricValue">{{meeting.momentPhoto}}
                        <span class="valueOutOfTotal">/{{meeting.photos}}</span></div>
                </div>
            </div>
            <!--div class="addSpot"
                 (click)="addPhoto()">
                <i class="fa fa-plus-square"></i> <span class="addSpotLabel"> Photo Spot</span>
                <span class="addSpotSmallLabel"> Photo</span>
            </div>
            <div class="cancelAddSpot"
                 (click)="cancelAdd()">
                <span>Cancel</span>
            </div-->
        </div>

        <div class="momentMetric col-xs-4 metricAudio rightSideMode"
             [ngClass]="{enable: meeting.enableOnPlay.audio}">
            <div class="mediaMetric"
                 (click)="toggleAudio()">
                <i class="fa mediaCapture fa-microphone"></i>
                <div class="text">
                    <div class="enableCheckbox"
                         (click)="stopPropagation($event)">
                        <md-checkbox [(checked)]="meeting.enableOnPlay.audio"></md-checkbox>
                    </div>
                    <div class="metricName">Audios</div>
                    <div class="metricValue">{{meeting.momentAudio}}
                        <span class="valueOutOfTotal">/{{meeting.audios}}</span></div>
                </div>
            </div>

            <!--div class="addSpot"
                 (click)="addAudio()">
                <i class="fa fa-plus-square"></i> <span class="addSpotLabel"> Audio Spot</span>
                <span class="addSpotSmallLabel"> Audio</span>
            </div>
            <div class="cancelAddSpot"
                 (click)="cancelAdd()">
                <span>Cancel</span>
            </div-->
        </div>

        <div class="momentMetric col-xs-4 metricVideo rightSideMode"
             [ngClass]="{enable: meeting.enableOnPlay.video}">
            <div class="mediaMetric"
                 (click)="toggleVideo()">
                <i class="fa mediaCapture fa-video-camera"></i>
                <div class="text">
                    <div class="enableCheckbox"
                         (click)="stopPropagation($event)">
                        <md-checkbox [(checked)]="meeting.enableOnPlay.video"></md-checkbox>
                    </div>
                    <div class="metricName">Videos</div>
                    <div class="metricValue">{{meeting.momentVideo}}
                        <span class="valueOutOfTotal">/{{meeting.videos}}</span></div>
                </div>
            </div>
            <div class="addSpot"
                 (click)="addVideo()">
                <i class="fa fa-plus-square"></i> <span class="addSpotLabel"> Video Spot</span>
                <span class="addSpotSmallLabel"> Video</span>
            </div>
            <div class="cancelAddSpot"
                 (click)="cancelAdd()">
                <span>Cancel</span>
            </div>
        </div>
    </div>

    <div class="momentMetricCreateContainer"
         *ngIf="activeCreateSpot != null"
         [ngClass]="activeCreateSpot">

        <div class="momentMetricCreate metricPhotoCreate">
            <meeting-spot-photo-create></meeting-spot-photo-create>
        </div>
        <div class="momentMetricCreate metricAudioCreate">
            <meeting-spot-audio-create></meeting-spot-audio-create>
        </div>
        <div class="momentMetricCreate metricVideoCreate">
            <meeting-spot-video-create [meeting]="meeting"></meeting-spot-video-create>
        </div>
    </div>


    <div class="momentMetricFiltersContainer allEnabled">

        <div class="streamRow">
            <div class="momentMetric"
                 [ngClass]="{enable: meeting.enableOnPlay.cool}"
                 (click)="toggleCool()">
                <div class="enableCheckbox"
                     (click)="stopPropagation($event)">
                    <md-checkbox [(checked)]="meeting.enableOnPlay.cool">
                        Only The Hifed
                    </md-checkbox>
                </div>
                <img src="/app/base/asset/image/spot_type/highlight_300.png">
                <div class="text">
                    <div class="metricValue">{{meeting.momentCool}}
                        <span class="valueOutOfTotal">/{{meeting.cools}}</span></div>
                </div>
            </div>
        </div>

    </div>


    <meeting-spot-player [meeting]="meeting"></meeting-spot-player>


    <div class="clearAll"></div>
    <h3 class="shareableLink" *ngIf="meeting.meetingDetails.permalink_id">Shareable:
        <a [routerLink]="['/event', meeting.meetingDetails.permalink_id]">
            https://hife.io/event/{{meeting.meetingDetails.permalink_id}}
        </a>
    </h3>
    <div>
        <div class="col-xs-6">
            <meeting-google-map
                    *ngIf="meeting.meetingDetails.latitude"
                    [meeting]="meeting">
            </meeting-google-map>
        </div>
        <div class="col-xs-6">
            <h3>Hifers</h3>
            <div class="activeSpot"
                 *ngFor="let device of meeting.devices">

                <md-checkbox [(checked)]="meeting.enableOnPlay.device[device.deviceDetails.uuid]">
                    {{device.deviceDetails.name}}
                </md-checkbox>

            </div>
        </div>
    </div>
    <div class="clearAll"></div>
</div>