body {
  .coreAppContainer {
    font-family: 'Dosis', sans-serif;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
  footer {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    a {
      padding: 10px;
      &.appleLink {
        display: inline-block;
        overflow: hidden;
        background: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;
        width: 135px;
        padding: 0;
        height: 60px;
      }
    }
    .socialLinks {
      padding-top: 10px;
    }
  }
  .btn-primary {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $hifeBack05;
    border-color: $hifeBack01;
    &:hover,
    &:active,
    &:focus {
      background-color: $hifeBack06;
      border-color: $hifeBack01;
    }
  }
}
