.homeRoutePageContainerBackground {

  .homeRoutePageContainer {
    font-family: 'Dosis', sans-serif;
    width: 100%;
    position: relative;
    .homeSearchIconContainer {
      position: absolute;
      background: url("/app/base/asset/image/hife_100.png") 0px 20px no-repeat;
      padding: 33px 16px 30px 30px;
      i {
        font-size: 58px;
        //color: #eb0009;
        color: transparent;
      }
    }
    .homeSearchInputContainer {
      padding: 30px 90px 0px 100px;
      font-size: 20px;
      input {
        width: 100%;
        padding: 10px;
        font-weight: bold;
      }
    }
    .btnSearch {
      float: right;
      margin: -45px 10px 0 0;
    }
    .homeSearchOptions {
      padding: 5px 30px 20px 100px;
      height: 45px;
    }
  }

  .inProgressContainer {
    text-align: center;
    md-progress-circle {
      display: inline-block;
      width: 50px;
    }
  }

  .searchResults {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {

  .homeRoutePageContainerBackground {
    .homeRoutePageContainer {
      .homeSearchInputContainer {
        padding: 30px 10px 0px 100px;
        font-size: 16px;
        input {
          width: 100%;
          padding: 10px;
          font-weight: bold;
        }
      }
      .btnSearch {
        float: none;
        margin: 0;
        padding: 15px 10px 10px 100px;
        text-align: center;
      }
    }
  }
}
